.container
    .row
        .hero-unit
            h1 Wakenya Tuongee vs Uwezo Tarriff
            br
            p This is a simple comparision between the two tariffs. Click the stop watch to start and stop the timer and see the difference in cost.
    .row
        #stopwatch.timer-container
            .timer
                .cell
                    .numbers.tenhour.moveten 0 1 2 3 4 5 6 7 8 9
                .cell
                    .numbers.hour.moveten 0 1 2 3 4 5 6 7 8 9
                .cell.divider
                    .numbers :
                .cell
                    .numbers.tenminute.movesix 0 1 2 3 4 5 6
                .cell
                    .numbers.minute.moveten 0 1 2 3 5 6 7 8 9
                .cell.divider
                    .numbers :
                .cell
                    .numbers.tensecond.movesix 0 1 2 3 4 5 6
                .cell
                    .numbers.second.moveten 0 1 2 3 4 5 6 7 8 9
                .cell.divider
                    .numbers :
                .cell
                    .numbers.millisecond.moveten 0 1 2 3 4 5 6 7 8 9
                .cell
                    .numbers.tenmillisecond.moveten 0 1 2 3 4 5 6 7 8 9
                .cell
                    .numbers.hundredmillisecond.moveten 0 1 2 3 4 5 6 7 8 9
.container.graph
    #timeline.offset2



script(type='text/javascript', src='/javascripts/jquery.1.7.2.js')
//script(type='text/javascript', src='/javascripts/jquery.stopwatch.js')
script(type='text/javascript', src='/javascripts/js.class.min.js')
script(type='text/javascript', src='/javascripts/bootstrap.min.js')
script(type='text/javascript', src='/javascripts/date.js')
script(type='text/javascript', src='/javascripts/underscore-min.js')
script(type='text/javascript', src='/javascripts/knockout.js')
//script(type='text/javascript', src='/javascripts/envision.js')
script(type='text/javascript', src='/javascripts/compare.js')
//script(type='text/javascript', src='/javascripts/d3.min.js')
//script(type='text/javascript', src='/javascripts/d3.layout.min.js')
//script(type='text/javascript', src='/javascripts/rickshaw.min.js')
//script(type='text/javascript', src='/javascripts/timeline.js')
