.container
    .row
        //h1 Uwezo vs Wakenya Tuongee Chart
    .row
        #chart.span9(style="min-width: 500px; height: 400px; margin: 0 auto;")
        .span3
script(type='text/javascript', src='/javascripts/jquery.1.7.2.js')
script(type='text/javascript', src='/javascripts/js.class.min.js')
script(type='text/javascript', src='/javascripts/date.js')
script(type='text/javascript', src='/javascripts/time.js')
script(type='text/javascript', src='/javascripts/highcharts.js')
script(type='text/javascript', src='/javascripts/highcharts.exporting.js')
script(type='text/javascript', src='/javascripts/bootstrap.min.js')
script(type='text/javascript', src='/javascripts/knockout.js')
script(type='text/javascript', src='/javascripts/underscore-min.js')
script(type='text/javascript', src='/javascripts/dynamic.js')
script(type='text/javascript', src='/javascripts/timer.js')
