.container
  .hero-unit
    h1 Wakenya Tuongee?
    p  This is my little investigation into whether Safaricom's Wakenya Tuongee promotion is worth it. Views expressed
       |   here are my own.
    p


script(type='text/javascript', src='/javascripts/jquery.1.7.2.js')
script(type='text/javascript', src='/javascripts/js.class.min.js')
script(type='text/javascript', src='/javascripts/bootstrap.min.js')
script(type='text/javascript', src='/javascripts/underscore-min.js')
script(type='text/javascript', src='/javascripts/json2.js')
script(type='text/javascript', src='/javascripts/sammy.js')
script(type='text/javascript', src='/javascripts/knockout.js')
script(type='text/javascript', src='/javascripts/app.js')