.container
  .row
    .hero-unit
      h1 Wakenya Tuongee?
      p  This is my little investigation into whether Safaricom's Wakenya Tuongee promotion is worth it. Views expressed
         |   here are my own. Deal or Scam?

      |  <p>I use an android phone and I exported my call log using this <a href="http://goo.gl/sGli9">application</a>.
      |  I then convered the CSV file into JSON using <a href="http://shancarter.com/data_converter/">Mr Data Converter</a>.</p>

      button#table.btn(data-bind="click: toggle") Table
      &nbsp;
      button#graph.btn(data-bind="click: toggle") Graphs

.container
  .row
      h2 My Call Log&nbsp;
        small(data-bind="text: duration")
  .row
    br
  .row(data-bind="visible: tableVisible")
      table.table.table-bordered
        thead
          th Date
          //th Type
          th Duration (s)
        tbody(data-bind="foreach: filteredCalls")
          tr
            td(data-bind="text: callDate")
            //td(data-bind="text: type")
            td(data-bind="text: duration")


script(type='text/javascript', src='/javascripts/jquery.1.7.2.js')
script(type='text/javascript', src='/javascripts/js.class.min.js')
script(type='text/javascript', src='/javascripts/bootstrap.min.js')
script(type='text/javascript', src='/javascripts/underscore-min.js')
script(type='text/javascript', src='/javascripts/knockout.js')
script(type='text/javascript', src='/javascripts/app.js')