.container
    .row
        .version

script(type='text/javascript', src='/javascripts/jquery.1.7.2.js')
script(type='text/javascript', src='/javascripts/underscore-min.js')
script(type='text/javascript', src='/javascripts/js.class.min.js')
script(type='text/javascript', src='/javascripts/date.js')
script(type='text/javascript', src='/javascripts/time.js')
script(type='text/javascript', src='/javascripts/test/jasmine.js')
script(type='text/javascript', src='/javascripts/test/jasmine-html.js')
script(type='text/javascript', src='/javascripts/test/timer.js')
script(type='text/javascript', src='/javascripts/timer.js')